In [453]:
import pandas as pd

In [454]:
data = pd.read_csv('Assignment 2/problem_2/problem_2_train.csv')

In [455]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [456]:
data.mobmake.unique().shape

(38,)

In [457]:
data.shape

(6250, 16)

In [458]:
vals = list(data.mobmake.unique())

In [459]:
mapping = {k: v for v, k in enumerate(vals)}
data.replace({'mobmake': mapping},inplace=True)

In [325]:
(data.deliverypartnerid == 0).sum()

56

In [326]:
data.claimtype.value_counts()

ADLD    6246
EW         4
Name: claimtype, dtype: int64

In [31]:
#customers with claimtype ew can be mapped to mean values of tat
data.loc[data.claimtype == 'EW']

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
1211,2866278,6,17,800001,0,0,228,B,EW,847403,2017-01-20,2017-01-20,2018-02-13,4017,2018-02-18,57
3265,3031276,3,1,400059,308,233,228,A,EW,400614,2017-03-15,2016-12-26,2018-03-28,4545,2018-03-30,14
4273,3004120,0,22,400104,233,233,228,A,EW,411027,2016-12-21,2016-10-12,2018-03-21,4581,2018-03-28,22
4536,2852685,3,2,110018,233,233,228,A,EW,110018,2017-02-04,2017-01-27,2018-02-08,4550,2018-02-17,21

In [32]:
data.describe()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincode,servicecntrid,tat_in_days
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000
mean,2.946134e+06,2.646720,11.732000,340546.139840,232.654400,231.495360,155.040480,366009.473440,4457.158080,12.730400
std,7.733480e+04,4.592011,9.141463,213449.097822,30.471658,22.521945,41.883918,210990.167946,200.945634,5.075533
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,4008.000000,2.000000
25%,2.877226e+06,0.000000,3.000000,110018.000000,233.000000,233.000000,131.000000,135034.000000,4398.000000,9.000000
50%,2.944426e+06,1.000000,8.000000,400001.000000,233.000000,233.000000,131.000000,395001.500000,4474.000000,12.000000
75%,3.012237e+06,3.000000,21.000000,500004.000000,233.000000,233.000000,131.000000,560016.000000,4580.000000,15.000000
max,3.101035e+06,37.000000,27.000000,800001.000000,308.000000,245.000000,228.000000,855107.000000,5146.000000,57.000000

In [33]:
# waster columns = srno, hubpincode, custpincode,memcreatedate, mobilepurchasedate,insurancecompanyId
# useful = mobmake, deliverypartnerid,, pickuppartnerid,hubid,servicecntrid
#notsure = customerpincodecategory,claimtype,relation between claimDAte and pickupstartdate
data.hubid.value_counts()

2     1128
21     941
22     622
3      488
7      470
8      387
1      376
6      236
26     210
23     198
27     181
12     174
4      154
17     139
25     122
5      108
9       99
24      94
10      65
11      57
0        1
Name: hubid, dtype: int64

In [55]:
data.deliverypartnerid.value_counts()

ab = data[data.deliverypartnerid == 0]

ab.tat_in_days.mean()

15.160714285714286

In [124]:
data.custpincodecategory.value_counts()

Series([], Name: custpincodecategory, dtype: int64)

In [111]:
ab = data[data.custpincodecategory == 'A']

ab.tat_in_days.mean()
ab.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,0,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,1,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,1,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
4,2855214,0,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8
6,2844713,3,2,110018,233,233,131,A,ADLD,110059,2017-08-26,2017-08-22,2018-02-06,4094,2018-02-09,15

In [221]:
vals = list(data.custpincodecategory.unique())
mapping = {k: v for v, k in enumerate(vals)}
data.custpincodecategory = data.replace({'custpincodecategory':mapping},inplace = True)

In [222]:
data.insuranceCompanyId.value_counts()

131    4701
228    1549
Name: insuranceCompanyId, dtype: int64

In [223]:
ab = data[data.insuranceCompanyId == 228]

ab.tat_in_days.mean()

12.433182698515171

In [224]:
data.servicecntrid.unique()

array([4403, 4444, 4388, 4092, 4580, 4094, 4549, 4467, 4422, 4581, 4091,
       4499, 4488, 4150, 4407, 4468, 4148, 5001, 4550, 4453, 5146, 4147,
       4398, 4460, 4461, 4485, 4511, 4538, 4546, 4495, 4503, 4482, 4012,
       4465, 4390, 4483, 4399, 4545, 4477, 4500, 4415, 4490, 4548, 4508,
       4474, 4011, 4015, 4447, 4541, 4021, 4547, 4093, 4410, 4479, 4408,
       4540, 4437, 4154, 4027, 4409, 4439, 4510, 5138, 4022, 4008, 4462,
       4063, 4018, 4039, 4425, 4393, 4435, 4010, 4370, 4432, 4502, 4463,
       4412, 4492, 4400, 4478, 4149, 4033, 4469, 4441, 4673, 4442, 4668,
       4095, 4013, 4017, 4034, 4428, 4436, 4036, 4405, 4030, 4498, 4153,
       4504, 4487, 4506, 4026, 4391, 4475, 4024, 4155, 4387, 4443, 4543,
       4389, 4486, 4392, 4031, 4496, 5132, 4505, 4156, 4459, 4476, 4019,
       4395, 4016, 4445, 4413, 4454, 4497, 4420, 4440, 4509, 4434, 4456,
       4386, 4433, 4411, 4375, 4670])

In [225]:
ab = data[data.servicecntrid == 4411]

ab.tat_in_days.mean()

16.0

In [226]:
#useful = mobmake, deliverypartnerid,, pickuppartnerid,hubid,servicecntrid
data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

In [463]:
X = data[['mobmake','hubid','pickuppartnerid','servicecntrid','custpincodecategory']]
y = data.tat_in_days

In [464]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 1)

In [465]:
model = LinearRegression()

In [466]:
model.fit(X_train,y_train)

ans = model.predict(X_test)

In [467]:
import numpy as np
from sklearn import metrics

In [468]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

4.832223209522546

In [286]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,0,7,500004,233,233,131,0,0.00212,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,1,10,226010,233,233,131,0,0.00212,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,1,2,110018,233,233,228,0,0.00212,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,2,2,110018,233,233,228,1,0.00212,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,0,21,110015,233,233,131,0,0.00212,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [460]:
vals = list(data.custpincodecategory.unique())
mapping = {k: v for v, k in enumerate(vals)}
data.replace({'custpincodecategory':mapping},inplace = True)

In [461]:
mapping

{'A': 0, 'B': 1, 'C': 2, '0': 3, 'D': 4}

In [462]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,0,7,500004,233,233,131,0,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,1,10,226010,233,233,131,0,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,1,2,110018,233,233,228,0,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,2,2,110018,233,233,228,1,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,0,21,110015,233,233,131,0,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [330]:
ewval = (data.loc[data.claimtype == 'EW']['tat_in_days'].mean())/4
adldval = (data.loc[data.claimtype == 'ADLD']['tat_in_days'].mean())/6200

In [331]:
mapping = {'ADLD':adldval,'EW':ewval}

In [332]:
mapping

{'ADLD': 0.002051661450425046, 'EW': 7.125}

In [333]:
data.replace({'claimtype':mapping},inplace=True)

In [334]:
data.claimtype.value_counts()

0.002052    6246
7.125000       4
Name: claimtype, dtype: int64

In [357]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,0,7,500004,233,233,131,0,0.002052,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,1,10,226010,233,233,131,0,0.002052,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,1,2,110018,233,233,228,0,0.002052,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,2,2,110018,233,233,228,1,0.002052,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,0,21,110015,233,233,131,0,0.002052,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [469]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor

In [470]:
model = DecisionTreeRegressor()
model.fit(X_train,y_train)
ans = model.predict(X_test)

In [471]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

4.992864942607585

In [472]:
model = KNeighborsRegressor()
model.fit(X_train,y_train)
ans = model.predict(X_test)

In [473]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

5.089771208344727

In [474]:
model = GradientBoostingRegressor()
model.fit(X_train,y_train)
ans = model.predict(X_test)

In [475]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

4.689422415859879

In [476]:
from sklearn import svm
from sklearn.gaussian_process import GaussianProcessRegressor

In [477]:
reg = svm.SVR()
reg.fit(X_train,y_train)
ans = reg.predict(X_test)

In [478]:
reg = GaussianProcessRegressor()
reg.fit(X_train,y_train)
ans = reg.predict(X_test)

In [479]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

6.169990744589915

In [480]:
from sklearn.linear_model import Lasso

In [481]:
reg = Lasso()
reg.fit(X_train,y_train)
ans = reg.predict(X_test)

In [482]:

np.sqrt(metrics.mean_squared_error(ans,y_test))

5.0068622920217924

In [483]:
from sklearn.preprocessing import PolynomialFeatures 
  
poly = PolynomialFeatures(degree = 3) 
X_poly = poly.fit_transform(X_train) 
lin2 = LinearRegression() 
lin2.fit(X_poly, y_train) 
ans = lin2.predict(poly.fit_transform(X_test))

In [484]:
np.sqrt(metrics.mean_squared_error(ans,y_test))

4.989748621931681

In [485]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [486]:
X_train

array([[ 0.07687758, -0.95119718,  0.01625399,  0.01428144, -0.60589883],
       [-0.57352892,  0.58247008,  0.01625399,  0.39655213,  1.53576619],
       [-0.35672676, -1.17029251,  0.01625399, -0.2984855 , -0.60589883],
       ...,
       [-0.57352892,  1.02066073,  0.01625399,  0.60506342,  0.46493368],
       [-0.57352892,  1.13020839,  0.01625399,  0.61002797, -0.60589883],
       [ 2.46170141,  0.03473177,  0.01625399,  1.04194421,  1.53576619]])

# 4.38 with gridboosting regressor
# The only thing to do is hyperparameters tuning.