# Notebook with balancing of data of the two classes by duplication. Final Solution is in the notebook named Problem1Soluion

In [67]:
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
df = pd.read_csv('Assignment 2/problem_1/train.csv')

In [69]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,60,Male,6.3,3.2,314,118,114,6.6,3.7,1.27,1
1,31,Female,0.8,0.2,158,21,16,6.0,3.0,1.00,1
2,60,Male,19.6,9.5,466,46,52,6.1,2.0,0.40,1
3,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
4,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1

In [85]:
df.shape

(466, 11)

In [86]:
mapping = {'Male': 1, 'Female': 0}
df.replace({'Gender': mapping},inplace=True)

In [87]:
df.Dataset.value_counts()

1    333
2    133
Name: Dataset, dtype: int64

In [89]:
highValueClass = df[df.Dataset == 1]
df1 = highValueClass.sample(frac =.7) 
lowValueClass = df[df.Dataset == 2]

In [90]:
newdf = df1.append(lowValueClass)

In [91]:
newdf.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
434,35,1,26.3,12.1,108,168,630,9.2,2.0,0.3,1
205,19,0,0.7,0.2,186,166,397,5.5,3.0,1.2,1
114,50,1,1.7,0.8,331,36,53,7.3,3.4,0.9,1
232,26,1,1.3,0.4,173,38,62,8.0,4.0,1.0,1
225,38,1,0.8,0.2,208,25,50,7.1,3.7,1.0,1

In [92]:
newdf.shape

(366, 11)

In [93]:
newdf.fillna(value=newdf.Alamine_Aminotransferase.mean(),inplace=True)

In [94]:
xcolumns = newdf.columns[:10]
X = newdf[xcolumns]
y = newdf['Dataset']

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 1,test_size = 0.2)

In [99]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [100]:
y_pred = model.predict(X_test)
ans = (y_pred == y_test).sum()
ans/y_pred.shape[0]

0.6756756756756757