In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Assignment 2/problem_1/train.csv')

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,60,Male,6.3,3.2,314,118,114,6.6,3.7,1.27,1
1,31,Female,0.8,0.2,158,21,16,6.0,3.0,1.00,1
2,60,Male,19.6,9.5,466,46,52,6.1,2.0,0.40,1
3,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
4,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1

In [4]:
df.shape

(466, 11)

In [5]:
df.Dataset.value_counts()

1    333
2    133
Name: Dataset, dtype: int64

In [6]:
lowValueClass = df[df.Dataset == 2]

In [8]:
lowValueClass.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
6,37,Male,0.8,0.2,195,60,40,8.2,5.0,1.5,2
10,60,Male,1.8,0.5,201,45,25,3.9,1.7,0.7,2
22,56,Female,0.7,0.1,145,26,23,7.0,4.0,1.3,2
32,60,Male,0.7,0.2,171,31,26,7.0,3.5,1.0,2
36,17,Male,0.9,0.2,279,40,46,7.3,4.0,1.2,2

In [13]:
newdf = df.append(lowValueClass)

In [15]:
newdf.shape

(599, 11)

In [22]:
mapping = {'Male': 1, 'Female': 0}
newdf.replace({'Gender': mapping},inplace=True)

In [27]:
newdf.fillna(value=newdf.Alamine_Aminotransferase.mean(),inplace=True)

In [28]:
xcolumns = newdf.columns[:10]
X = newdf[xcolumns]
y = newdf['Dataset']

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 1)

In [30]:
model = LogisticRegression()
model.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [21]:
y_pred = model.predict(X_test)
(y_pred == y_test).sum()/y_test.shape[0]

0.7350427350427351

In [31]:
newdf.isna().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64